<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forex Predictor</title>
</head>
<body>
    <h1>Welcome to the Forex Predictor</h1>
    <h2>Please enter train start and end dates</h2>
    <form action="{{url_for('build_plot')}}">
    {% for i in range(2) %}
    <input type="date" name="dates_entry_train">
    <br>
    {% endfor %}
    <br>
    <h2>Please enter test start and end dates</h2>
    {% for i in range(2) %}
    <input type="date" name="dates_entry_test">
    <br>
    {% endfor %}
        <br>
    <input type="submit">
    </from>
</body>
</html>



